<div class="container">
    <div class="image-section">
        <img src="https://images.pexels.com/photos/8472919/pexels-photo-8472919.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Image description">
        <div class="text-overlay">
        <h1>{{overlayText}}</h1>
    </div>
    </div>

    <div class="form-section">
        <h2>Sign In</h2>
        <form #signInForm="ngForm" (ngSubmit)="onSubmit(signInForm)">
            
            <label for="username">User Name:</label>
            <input type="text" id="username" name="username"  ngModel required>
       

       
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" ngModel  required>

            <button type="submit">Sign in</button>
        </form>
        <span class="forgot-password" (click)="onForgotPassword()" style="cursor: pointer; color: blue; text-decoration: underline;">
            Forgot Password?
          </span>
    </div>
</div>
