.outer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #6a32d3;
}

.inner-container {
    display: flex;
    width: 80%;
    max-width: 1200px;
    height: 70%;
    min-height: 400px;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
.image-container {
    flex: 1.5;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

.inner-container img {
    width: 100%;
    height: auto;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.form-container {
    flex: 1;
    padding: 20px;

}

mat-form-field {
    width: 85%;
    margin-bottom: 16px;
    height: auto !important;
    margin-bottom: 0;
    margin: 0 auto;
    margin-left: 30px;
    
   
}

.forgot-password {
    display: inline-block;
    margin-bottom: 12px;
    color: #007bff;
    text-decoration: none;
    margin-top: 0;
    cursor: pointer;
}

.forgot-password:hover {
    text-decoration: underline;
}

.login-button {
    display: block;
    margin: 0 auto;
    width: 80%;
    padding: 12px;
    font-size: 16px;
    background-color: #6a32d3 !important;
    color: white !important;
    margin-top: 25px;
   
}

.sign-up {
    margin-top: 16px;
    text-align: center;
}

.sign-up a {
    color: #007bff;
    text-decoration: none;
}

.sign-up a:hover {
    text-decoration: underline;
}

h2 {
    margin-top: 40px;
    margin-bottom: 40px;
}

.custom-icon{
    color: #6a32d3;
}